$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "nest.scss";

.browsehappy {
   margin: 0.2em 0;
   background: #ccc;
   color: #000;
   padding: 0.2em 0;
}

body {
   font-family: "bree-serif", 'Helvetica', sans-serif;
   padding: 0;
   height: 100vh;
   width: 100vw;
   min-width: 1450px;
}

/* Custom page footer */
footer {
   position: fixed;
   right: 0;
   bottom: 0;
   padding-top: 10px;
   color: #777;
   border-top: 1px solid #e5e5e5;
   text-align: right;
   font-size: 2vw;
   padding-right: 0.5vw;
   font-size: 12px;
   font-weight: 100;
   background: white;
}

.container-narrow > hr {
   margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
   margin-top: 10vh;
   text-align: center;
   border-bottom: 1px solid #e5e5e5;
   h1 {
      img{
         width: 100%;
         height: auto;
      }
   }
   .marketing{
      margin: 40px 0;

      p + h4 {
         margin-top: 28px;
      }
   }
}

/* Supporting marketing content */
.start {
   .btn {
      font-size: 21px;
      padding: 14px 24px;
   }
   margin: 40px 0;
   text-align:center;
   .disclaimer{
      margin-top: 25px;
      font-style: italic;
      font-size: small;
      font-weight:200;
   }
}

.load_modal {
   background:rgba(0, 0, 0, 0.6);;
   height: 100%;
   color: #fff;
   text-align: center;
   position: fixed; top: 0; left: 0;
   width: 100%;
   z-index: 999;
   .nest_progress{
      ul{
         list-style: none;
         display: inline-block;
         padding: 0;
         margin: 0;
         text-align: center;
         position: absolute;
         top: 45%;
         width: 18vw;
         left: 41vw;
         li{
            font-size: 15px;
            margin: 5px 0;
            font-weight: 300;
            padding-left: 15px;
            .glyphicon{
               margin-right: 15px;
               &.glyphicon-refresh{
                  -webkit-animation-name: spin;
                  -webkit-animation-duration: 2000ms;
                  -webkit-animation-iteration-count: infinite;
                  -webkit-animation-timing-function: linear;
                  -moz-animation-name: spin;
                  -moz-animation-duration: 2000ms;
                  -moz-animation-iteration-count: infinite;
                  -moz-animation-timing-function: linear;
                  -ms-animation-name: spin;
                  -ms-animation-duration: 2000ms;
                  -ms-animation-iteration-count: infinite;
                  -ms-animation-timing-function: linear;
                  animation-name: spin;
                  animation-duration: 2000ms;
                  animation-iteration-count: infinite;
                  animation-timing-function: linear;
                  @-ms-keyframes spin {
                      from { -ms-transform: rotate(0deg); }
                      to { -ms-transform: rotate(360deg); }
                  }
                  @-moz-keyframes spin {
                      from { -moz-transform: rotate(0deg); }
                      to { -moz-transform: rotate(360deg); }
                  }
                  @-webkit-keyframes spin {
                      from { -webkit-transform: rotate(0deg); }
                      to { -webkit-transform: rotate(360deg); }
                  }
                  @keyframes spin {
                      from {
                          transform:rotate(0deg);
                      }
                      to {
                          transform:rotate(360deg);
                      }
                  }
               }
            }
            .time_remaining{
               font-size: 12px;
               font-style: italic;
            }
         }
      }
   }
   .tuto{
      width: 100%;
      height: 100%;
      position: absolute; top: 0; left: 0;
      p{
         position: absolute;
         font-size: 20px;
         font-weight: 300;
         font-style: italic;
         width: 300px;
         span{
            font-size: 26px;
            text-indent: -3px;
            text-align: center;
            display: inline-block;
            width: 45px;
            margin: 0 127.5px 10px;
            height: 45px;
            border: solid 2px white;
            border-radius: 50%;
         }
         &.sidebar{
            left: 5px;
            top: 300px;
         }
         &.slider{
            top: 50px;
            left: 41.5vw;
         }
         &.hashtags{
            top: 300px;
            right: 5px;
         }
         &.venn{
            top: 58vh;
            left: 41.5vw;
         }
      }
   }
}
// ****** Loader
.loader {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  letter-spacing: 0.2em;

  &::before, &::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: white;
    position: absolute;
    animation: load .7s infinite alternate ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

@keyframes load {
  0% { left: 0; height: 30px; width: 15px }
  50% { height: 8px; width: 40px }
  100% { left: 235px; height: 30px; width: 15px}
}


.dot{
  &:before,
  &:after{
    content: ".";
  }

  &{
    animation: fade 1s linear infinite;
  }

  &:after{
    animation: fade 2s linear infinite;
  }
}

@keyframes fade{
  0% {
    opacity: 0;
  }
  50%{
     opacity: 1;
 }
  100% {
    opacity: 0;
  }
}

//  ****** /LOADER/


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
   .container {
      max-width: 730px;
   }
   /* Remove the bottom border on the jumbotron for visual effect */
   .jumbotron {
      border-bottom: 0;
   }
}
