.wrapper{
   position: relative;
   height: 100%;
   width: 100%;
   header{
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 5;
      height: 60px;
      margin: 0;
      border-bottom: 1px solid #e5e5e5;
      text-align: center;
      img{
         height: 50px;
         margin-top: 5px;
      }
   }
   .main{
      position: fixed;
      top: 0;
      z-index: 0;
      padding-top: 60px;
      width: 100vw;
      height: 100vh;
      .sidebar{
         position: absolute;
         padding: 0 15px;
         height: 100%;
         background: #f5f5f5;
         border-right: 1px solid #e5e5e5;
         width: 20vw;
         min-width: 200px;
         .hello{
            text-align: center;
            margin-top: 50px;
            h1{
               font-size: 20px;
            }
            img{
               border-radius: 50%;
            }
         }
         .stats{
            margin-top: 25px;
            ul{
               display: inline-block;
               list-style: none;
               padding: 0;
               li{
                  float: left;
                  width: 100%;
                  font-size: 18px;
                  text-align: center;
                  margin: 15px 0;
                  ul{
                     float:left;
                     width: 100%;
                     margin-top: 10px;
                     margin-bottom: 0;
                     li{
                        float: none;
                        clear: both;
                        width: auto;
                        text-align: center;
                        font-weight: lighter;
                        font-size: 16px;
                        display: inline-block;
                        margin: 0 10px;
                     }
                  }
                  .followers_details,
                  .stats_details{
                     margin:0;
                     float: left;
                     width: 100%;
                     li{
                        .glyphicon{
                           padding-right: 10px;
                        }
                        .ftooltip{
                           color: #fff;
                           background: rgba(0, 0, 0, 0.8);
                           border-radius: 5px;
                           text-align: center;
                           padding: 2px 5px;
                           position: absolute;
                           height: 25px;
                           width: 120px;
                           bottom: -28px;
                           left: -45px;
                           -webkit-transition:all linear 0.15s;
                           -moz-transition:all linear 0.15s;
                           -o-transition:all linear 0.15s;
                           transition:all linear 0.15s;
                           opacity:0
                        }
                        &:hover .ftooltip{
                           opacity: 1;
                           -webkit-transition:all linear 0.15s;
                           -moz-transition:all linear 0.15s;
                           -o-transition:all linear 0.15s;
                           transition:all linear 0.15s;
                        }
                        &:first-child{
                           cursor: pointer;
                        }
                        position: relative;
                        margin: 0 15px;
                        text-align: center;
                        font-size: 13px;
                        font-weight: 300;
                     }
                  }
               }
            }
         }
         .latest_tweet{
            padding: 15px;
            border: 1px solid #e5e5e5;
            background: rgba(0, 0, 0, 0.1);
            h4{
               text-align: center;
               font-size: 15px;
               span{
                  font-style: italic;
                  font-weight: 200;
                  font-size: 12px;
                  opacity: 0.7;
               }
            }
            p{
               font-weight: 300;
            }
            .stats_details{
               width: 70%;
               list-style: none;
               display: inline-block;
               padding: 0;
               margin: 0 15%;
               li{
                  .glyphicon{
                     padding-right: 10px;
                  }
                  float: left;
                  position: relative;
                  margin: 0 15px;
                  text-align: center;
                  font-size: 13px;
                  font-weight: 300;
                  color:#ffac33;
                  &:first-child{
                     color: #77b255;
                  }
                  &:last-child{
                     color:#07c;
                  }
               }
            }
         }
         .bottom{
            position: absolute;
            display: block;
            width: 100%;
            bottom: 100px;
            left: 0;
            margin: 0 auto 15px;
            text-align: center;
            border-top: 1px solid #e5e5e5;
            padding-top: 15px;
            button{
               margin: 0 10px;
            }
         }
      }
      .spam_users{
         position: absolute;
         left: 20vw;
         background-color: rgba(245, 245, 245, 0.9);
         height: 100%;
         min-width: 12vw;
         padding: 95px 15px 15px;
         border-right: 1px solid #e5e5e5;
         z-index: 15;
         ul{
            padding: 15px 0 0;
            list-style: none;
            li{
               margin: 5px 0;
               .glyphicon-ban-circle{
                  float: right;
                  margin-right: 15px;
                  color: red;
                  cursor: pointer;
               }
            }
         }
         .close_modal{
            position: absolute;
            top: 10px;
            right: 0;
            background: none;
            border: none;
         }
      }
      .viz_wrap{
         position: absolute;
         right: 0;
         height: 100%;
         width: 80vw;
         min-width: 800px;
         .slider{
            position: absolute;
            z-index: 11;
            top: 0;
            right: 0;
            height: 80px;
            width: 100%;
            background: #fff;
            padding: 20px 30px 0 55px;
            border-bottom: 1px solid #e5e5e5;
         }
         .visualization{
            position: absolute;
            bottom: 0;
            right: 0;
            height: 100%;
            padding-top: 80px;
            width: 100%;
            .bar_chart{
               position: absolute;
               padding-top: 80px;
               top: 0;
               left: 0;
               height: 33.3333%;
               width: 100%;
               z-index: 10;
               h4{
                  padding-left: 15px;
               }
               text{
                  font-weight: 200;
               }
               svg{
                  position: absolute;
                  .layer{
                     rect{
                        cursor: pointer;
                     }
                  }
               }
            }
            .venn_diagram{
               position: absolute;
               bottom: 60px;
               padding-top: 80px;
               right: 0;
               height: 66.6667%;
               width: 50%;
               .venn-intersection{
                  display: none;
               }
               .venn-sets-A{
                  z-index: 90;
               }
               .venn-sets-B{
                  z-index: 100;
               }
               .venn-sets-C{
                  z-index: 110;
               }
            }
            .tweet_entities{
               position: absolute;
               bottom: 60px;
               padding-top: 80px;
               left: 0;
               height: 66.6667%;
               width: 50%;
               h2{
                  font-size: 18px;
                  text-align: center;
               }
               h4{
                  float: left;
                  font-size: 15px;
                  width: 30%;
                  cursor: pointer;
                  &.hashtag{
                     padding-left: 60px;
                  }
                  &.frequency{
                     padding-left: 40px;
                     text-align: center;
                  }
                  &.engagement{
                     float: right;
                     text-align: right;
                  }
                  span{
                     font-size: 12px;
                     padding-left: 5px;
                     -webkit-transition:all linear 0.15s;
                     -moz-transition:all linear 0.15s;
                     -o-transition:all linear 0.15s;
                     transition:all linear 0.15s;
                     -ms-transform: rotate(0deg); /* IE 9 */
                     -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
                     transform: rotate(0deg);
                     &.reverse{
                        -ms-transform: rotate(180deg); /* IE 9 */
                        -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
                        transform: rotate(180deg);
                        -webkit-transition:all linear 0.15s;
                        -moz-transition:all linear 0.15s;
                        -o-transition:all linear 0.15s;
                        transition:all linear 0.15s;
                     }
                  }
               }
               ol{
                  font-weight: 300;
                  padding: 0 35px 0 60px;
                  margin: 25px 0 0;
                  height: 80%;
                  overflow-y: scroll;
                  li{
                     margin: 0;
                     padding: 5px 0;
                     font-style: italic;
                     text-align: left;
                     float: left;
                     width: 100%;
                     .hashtag{
                        cursor: pointer;
                        float: left;
                        width: 30%;
                     }
                     .frequency{
                        float: left;
                        width: 30%;
                        text-align: center;
                     }
                     .engagement{
                        float: right;
                        text-align: right;
                        cursor: pointer;
                        .pie_chart{
                           svg{
                              margin: 0 auto;
                           }
                        }
                     }
                     &:hover{
                        background-color: #f5f5f5;
                     }
                  }
               }
               .bottom{
                  position: absolute;
                  display: block;
                  width: 100%;
                  bottom: 0;
                  left: 0;
                  margin: 0 auto 15px;
                  text-align: center;
                  padding-top: 15px;
                  button{
                     margin: 0 10px;
                  }
               }
            }
         }
      }
   }
   .modal_tweet{
      position: fixed;
      z-index: 1000;
      background: rgba(0, 0, 0, 0.7);
      color: white;
      height: 100%;
      width: 100%;
      overflow-y: scroll;
      h4{
         text-align: center;
      }
      .close_modal{
         position: fixed;
         top: 0;
         right: 0;
         background: none;
         border: none;
         padding: 10px 15px;
      }
      ol{
         list-style: none;
         .tweet_wrap{
            overflow: hidden;
            text-align: center;
            position: relative;
            padding: 15px;
            counter-increment: step-counter;
            // border: 0.5px solid #e5e5e5;
            margin: 15px 35%;
            background: rgba(0, 0, 0, 0.5);
            width: 30%;
            p{
               font-weight: 200;
               font-size:18px;
            }
            a{
               color: white;
               font-style: italic;
               display: inline-block;
               width: 20%;
               margin: 0 40%;
               font-weight: 200;
            }
            .stats_details{
               position: relative;
               list-style: none;
               display: inline-block;
               padding: 0;
               margin: 20px 0 0;
               li{
                  .glyphicon{
                     padding-right: 10px;
                  }
                  float: left;
                  margin: 0 15px;
                  text-align: center;
                  font-size: 13px;
                  font-weight: 300;
                  padding: 0;
                  color:#ffac33;
                  &:first-child{
                     color: #77b255;
                  }
                  &:last-child{
                     color:#07c;
                  }
               }
            }
            &::before{
               content: counter(step-counter);
               position: absolute;
               bottom: -40px;
               left: -15px;
               font-style: italic;
               font-size: 100px;
               opacity: 0.1;
               width: 60px
            }
         }
      }
   }
}
