<div class="container">
   <div class="jumbotron">
      <h1>
         <img src="images/nest_big.svg" alt="nest" />
      </h1>
      <p class="lead marketing">
         Measure and visualize your Twitter community's engagement !
      </p>
   </div>

   <div class="row start">
      <p><a class="btn btn-lg btn-success" ng-click="initializeNest()">Nest me !</a></p>
      <p class="disclaimer">
         Login with Twitter. If you have a lot of followers, grab a coffee and sit back. <br>
         This might take some time.
      </p>
   </div>
</div>
