<div class="wrapper">
  <header>
    <p>
      <a href="#/"><img alt="" src="images/nest_small.svg"/></a>
    </p>
  </header>
  <section class="main">
    <div class="sidebar">
      <div class="hello" ng-if="user">
        <img alt="Twitter profile img" ng-src="{{user.profile_image_url}}"/>
        <h1>Hello, @{{user.screen_name}}</h1>
      </div>
      <div class="stats" ng-if="stats">
        <ul>
          <li>
            Total followers
            <ul>
              <li>{{user.followers_count | number}}</li>
            </ul>
          </li>
          <li>
            Active followers in the last {{timeMachine.max}} days
            <ul>
              <li>{{stats.active.val | number}}</li>
              <li>{{stats.active.ratio}}%</li>
            </ul>
            <ul class="followers_details">
              <li>
                <span class="glyphicon glyphicon-alert"></span>{{fStats.fSpam | number}}<span class="ftooltip">Maybe robots</span></li>
              <li>
                <span class="glyphicon glyphicon-user"></span>{{fStats.fUser | number}}<span class="ftooltip">Standard users</span></li>
              <li>
                <span class="glyphicon glyphicon-ok-sign"></span>{{fStats.fVerif | number}}<span class="ftooltip">Verified accounts</span></li>
            </ul>
          </li>
          <li>
            Engagement over the last {{timeMachine.max}} days
            <ul class="engagement">
              <li>{{stats.engaged.val | number}}</li>
              <li>{{stats.engaged.ratio}}%</li>
            </ul>
            <ul class="stats_details">
              <li>
                <span class="glyphicon glyphicon-retweet"></span>{{stats.engaged.retweets | number}}</li>
              <li>
                <span class="glyphicon glyphicon-star"></span>{{stats.engaged.favorite | number}}</li>
              <li>
                <span class="glyphicon glyphicon-share-alt"></span>{{stats.engaged.mentions | number}}</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="latest_tweet">
         <h4>Latest tweet <span>{{user.status.created_at|twitterDate}}</span></h4>
         <p>
            «{{user.status.text}}»
         </p>
         <ul class="stats_details">
            <li><span class="glyphicon glyphicon-retweet"></span>{{user.status.retweet_count | number}}</li>
            <li><span class="glyphicon glyphicon-star"></span>{{user.status.favorite_count | number}}</li>
         </ul>
      </div>
      <!-- <div class="bottom" ng-if="stats"> -->
      <div class="bottom">
        <button class="btn btn-danger" id="signOut" ng-click="signOut()" type="button">Sign Out</button>
        <button class="btn btn-simple" id="refresh" ng-click="refresh()" type="button">Refresh</button>
      </div>
    </div>
    <div class="viz_wrap">
      <div class="slider">
        <rzslider ng-if="timeMachine" rz-slider-always-show-bar="true" rz-slider-ceil="timeMachine.ceil" rz-slider-floor="timeMachine.floor" rz-slider-model="timeMachine.max" rz-slider-translate="translate"></rzslider>
      </div>
      <div class="visualization">
        <div ng-venn class="venn_diagram" ng-model="vennData" ng-if="vennData"></div>
        <div class="tweet_entities" ng-if="hashtags">
          <h2>Popluar hashtags</h2>
          <ol>
            <li ng-repeat="h in hashtags | limitTo: limit | orderBy : '-count'">
              <a href="https://twitter.com/hashtag/{{h.hashtag}}?src=hash" target="_blank">
                #{{h.hashtag}}</a>
              <span>{{h.count}}
                times</span></li>
          </ol>
          <div class="bottom">
            <button class="btn btn-simple" ng-click="incrementLimit()" ng-disabled="disableMore" type="button">More</button>
            <button class="btn btn-simple" ng-click="decrementLimit()" ng-disabled="disableLess" type="button">Less</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
